
@media(max-width: 767px){
li{
   text-align: right;
   padding-right: 15px;
  }


ul{

   margin-right: -15px !important;
}

@media(max-width: 767px) and (min-width: 450px){
  li{
       padding-left: 50%;
  }
}

.navbar-nav{
  margin-top: 50px;
  }
}

.navbar-toggle {
  z-index:3 !important;
}


a:hover{
}

.navbar-default {
 background-color: rgba(0,0,0,0.7);
 background: rgba(0,0,0,0.7);
 border: none;
 border-color: transparent;
}

.navbar-default .navbar-text {
  color: #f3f5ff;
}
.navbar-default .navbar-nav > li > a {
  color: #f3f5ff;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #f3f5ff;
  background-color: rgba(187,92,157,0.5);
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #f3f5ff;
  background-color: #BB5C9D;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #f3f5ff;
  background-color: #BB5C9D;
}
.navbar-default .navbar-toggle {
  border-color: #BB5C9D;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #BB5C9D;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #f3f5ff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border: none;
}

@media (max-width: 767px) {

.navbar-default .navbar-nav > li > a {
  background-color: black;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #f3f5ff;
  background-color: rgba(187,92,157,1);
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #f3f5ff;
  background-color: rgba(187,92,157,1);
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #f3f5ff;
  background-color: rgba(187,92,157,1);
}
}
